In [20]:
import numpy as np

In [21]:
import matplotlib.pyplot as plt

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('ML-chat-reg.csv')
x = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values
x

array([[170.688, 76.0, 'Male'],
       [165.0, 70.0, 'Male'],
       [171.0, 80.0, 'Male'],
       [173.0, 102.0, 'Male'],
       [164.0, 67.0, 'Male'],
       [174.0, 46.0, 'Female'],
       [151.0, 64.3, 'Female'],
       [176.5, 98.0, 'Male'],
       [181.0, 87.5, 'Male'],
       [184.5, 80.0, 'Male'],
       [163.5, 65.0, 'Male'],
       [176.0, 78.0, 'Male'],
       [178.0, 62.0, 'Male'],
       [168.0, 74.0, 'Male'],
       [165.0, 102.0, 'Male'],
       [174.0, 78.0, 'Male'],
       [162.0, 93.0, 'Male'],
       [176.5, 68.0, 'Male'],
       [5.6, 71.5, 'Male'],
       [185.9, 135.0, 'Male'],
       [183.0, 82.0, 'Male'],
       [165.0, 70.0, 'Female'],
       [169.0, 60.0, 'Male'],
       [171.0, 84.5, 'Male'],
       [154.5, 65.0, 'Female'],
       [178.0, 70.0, 'Male'],
       [171.0, 59.0, 'Male'],
       [165.0, 78.0, 'Male'],
       [173.0, 68.0, 'Male'],
       [161.544, 62.0, 'Female'],
       [155.0, 58.0, 'Female'],
       [173.7, 102.3, 'Male'],
       [162.5, 64.0, 'Male'],
       [164.0, 50.0, 'Male'],
       [164.0, 75.0, 'Male'],
       [170.0, 77.0, 'Male'],
       [177.8, 82.72, 'Male'],
       [177.0, 93.0, 'Male'],
       [164.5, 55.0, 'Male'],
       [155.0, 50.0, 'Male'],
       [165.0, 75.0, 'Female'],
       [176.0, 64.0, 'Male'],
       [186.0, 85.0, 'Male'],
       [155.4, 65.0, 'Male'],
       [178.5, 84.0, 'Male'],
       [155.7, 85.0, 'Male'],
       [165.0, 53.0, 'Male'],
       [158.5, 90.0, 'Female'],
       [5.1, 79.0, 'Male'],
       [170.0, 68.0, 'Male'],
       [182.0, 85.0, 'Male'],
       [182.0, 79.0, 'Male'],
       [176.7, 50.9, 'Female'],
       [167.6, 68.5, 'Male'],
       [172.72, 130.0, 'Male'],
       [180.0, 63.0, 'Male'],
       [172.0, 93.0, 'Male'],
       [170.68, 59.0, 'Male'],
       [5.11, 76.0, 'Male'],
       [175.0, 76.0, 'Male'],
       [5.6, 60.0, 'Male'],
       [181.0, 63.0, 'Male'],
       [164.0, 60.0, 'Male'],
       [173.0, 75.0, 'Male'],
       [183.0, 70.0, 'Male'],
       [185.0, 65.0, 'Male'],
       [152.4, 70.0, 'Male'],
       [154.0, 55.0, 'Female'],
       [170.0, 65.0, 'Male'],
       [13.7, 72.6, 'Male'],
       [176.0, 55.0, 'Male'],
       [170.0, 46.0, 'Female'],
       [160.0, 62.0, 'Female'],
       [173.3, 72.5, 'Male'],
       [180.0, 55.5, 'Male'],
       [179.0, 70.0, 'Male'],
       [5.7, 86.0, 'Male'],
       [182.88, 52.0, 'Male'],
       [5.6, 43.0, 'Female'],
       [155.48, 61.5, 'Male'],
       [5.4, 76.0, 'Male'],
       [160.0, 60.0, 'Female'],
       [182.88, 62.0, 'Male'],
       [167.64, 77.0, 'Male'],
       [167.6, 65.0, 'Female'],
       [163.0, 50.0, 'Male'],
       [6.0, 91.0, 'Male'],
       [168.0, 75.0, 'Male'],
       [173.75, 81.5, 'Male'],
       [183.0, 88.0, 'Male'],
       [170.0, 60.0, 'Male'],
       [164.2, 86.0, 'Male'],
       [173.0, 87.0, 'Male'],
       [5.0, 70.0, 'Male'],
       [176.0, 55.6, 'Male'],
       [170.18, 86.0, 'Male'],
       [173.0, 82.0, 'Male'],
       [176.78, 70.0, 'Male'],
       [165.0, 60.0, 'Female'],
       [169.1, 50.0, 'Male'],
       [181.0, 62.0, 'Male'],
       [180.0, 71.0, 'Male'],
       [175.0, 55.0, 'Male'],
       [179.0, 78.0, 'Male'],
       [164.0, 72.0, 'Male'],
       [164.6, 75.0, 'Male'],
       [59.0, 10.92, 'Male'],
       [164.5, 57.0, 'Female'],
       [150.5, 90.0, 'Male'],
       [167.64, 65.0, 'Female'],
       [179.832, 68.0, 'Male'],
       [170.5, 74.0, 'Male'],
       [170.6, 52.0, 'Male'],
       [157.48, 51.0, 'Female'],
       [181.0, 76.0, 'Male'],
       [170.0, 82.0, 'Male'],
       [170.5, 75.0, 'Male'],
       [189.0, 86.0, 'Male'],
       [178.0, 80.0, 'Male'],
       [6.0, 51.0, 'Male'],
       [180.0, 78.0, 'Male'],
       [176.0, 54.0, 'Male'],
       [179.5, 85.0, 'Male'],
       [167.5, 58.0, 'Female'],
       [71.0, 68.0, 'Male'],
       [173.7, 97.0, 'Male'],
       [167.64, 66.0, 'Male'],
       [150.5, 47.0, 'Female'],
       [179.0, 65.0, 'Male'],
       [161.3, 60.0, 'Male'],
       [166.0, 90.0, 'Male'],
       [148.0, 40.0, 'Female'],
       [167.5, 62.0, 'Male'],
       [170.0, 65.0, 'Male'],
       [167.64, 55.2, 'Male'],
       [176.0, 71.0, 'Male'],
       [170.68, 55.0, 'Male'],
       [167.0, 54.0, 'Male'],
       [173.0, 161.0, 'Male'],
       [155.448, 102.0, 'Male'],
       [182.8, 85.0, 'Male'],
       [170.688, 59.0, 'Male'],
       [191.5, 83.0, 'Male'],
       [162.56, 46.0, 'Female'],
       [14.4, 53.0, 'Female'],
       [173.736, 62.0, 'Female'],
       [168.0, 55.0, 'Male'],
       [174.1, 76.0, 'Male'],
       [164.6, 68.0, 'Male'],
       [167.64, 57.0, 'Male'],
       [180.33, 81.0, 'Male'],
       [182.5, 80.0, 'Male'],
       [5.7, 68.0, 'Male'],
       [5.4, 63.4, 'Male'],
       [177.8, 67.0, 'Male'],
       [152.4, 50.0, 'Female'],
       [15.2, 50.4, 'Male'],
       [133.7, 58.0, 'Male'],
       [181.0, 67.0, 'Male'],
       [152.4, 75.0, 'Male'],
       [179.5, 86.0, 'Male'],
       [169.0, 86.0, 'Male'],
       [158.5, 46.7, 'Female'],
       [165.1, 45.0, 'Female'],
       [154.5, 6.0, 'Female'],
       [166.0, 62.0, 'Male'],
       [188.0, 90.0, 'Male'],
       [186.0, 101.0, 'Male'],
       [70.0, 179.0, 'Male'],
       [1.85, 88.0, 'Male'],
       [179.0, 73.0, 'Male'],
       [1.7, 50.0, 'Male'],
       [172.0, 78.0, 'Male'],
       [177.8, 84.0, 'Male'],
       [180.0, 67.0, 'Male'],
       [165.0, 71.0, 'Male'],
       [173.0, 96.0, 'Male'],
       [5.11, 70.0, 'Male'],
       [178.0, 88.0, 'Male'],
       [182.0, 84.0, 'Male'],
       [164.59, 90.0, 'Male'],
       [188.0, 88.0, 'Male'],
       [179.8, 75.0, 'Male'],
       [179.5, 86.0, 'Male'],
       [175.0, 82.0, 'Male'],
       [5.7, 68.0, 'Male'],
       [157.0, 53.0, 'Male'],
       [170.18, 73.8, 'Male'],
       [570.0, 80.0, 'Male'],
       [165.0, 74.0, 'Male'],
       [5.7, 80.0, 'Male'],
       [166.0, 54.0, 'Female'],
       [145.5, 62.0, 'Male'],
       [164.0, 64.0, 'Male'],
       [175.0, 82.0, 'Male'],
       [5.0, 80.0, 'Male'],
       [175.5, 79.0, 'Male'],
       [5.1, 40.0, 'Female'],
       [173.0, 74.0, 'Male'],
       [176.5, 98.0, 'Male'],
       [172.0, 86.0, 'Male'],
       [173.7, 57.0, 'Male'],
       [5.1, 65.0, 'Female'],
       [173.73, 75.0, 'Female'],
       [165.0, 56.0, 'Female'],
       [173.0, 78.0, 'Male'],
       [170.0, 88.0, 'Male'],
       [5.3, 62.0, 'Female'],
       [173.5, 75.0, 'Male'],
       [169.0, 85.0, 'Male'],
       [175.5, 80.0, 'Male'],
       [174.0, 74.0, 'Male'],
       [170.77, 45.0, 'Female'],
       [170.0, 74.0, 'Male'],
       [182.88, 88.2, 'Male'],
       [178.0, 77.0, 'Male'],
       [162.0, 60.0, 'Female'],
       [5.4, 68.0, 'Male'],
       [172.0, 78.0, 'Male'],
       [178.0, 85.0, 'Male'],
       [13.408, 62.0, 'Female'],
       [165.0, 70.0, 'Male'],
       [167.4, 60.0, 'Male'],
       [5.5, 74.0, 'Male'],
       [50.0, 48.0, 'Female'],
       [5.8, 53.0, 'Male'],
       [171.0, 64.0, 'Male'],
       [140.0, 26.0, 'Female'],
       [164.5, 59.0, 'Female'],
       [179.8, 96.0, 'Male'],
       [176.0, 64.0, 'Male'],
       [5.9, 68.0, 'Male'],
       [163.5, 72.2, 'Male'],
       [166.0, 66.0, 'Male'],
       [6.0, 68.0, 'Male'],
       [155.0, 48.0, 'Male'],
       [5.3, 50.0, 'Female'],
       [114.0, 60.0, 'Male'],
       [6.0, 50.0, 'Male'],
       [165.0, 63.0, 'Male'],
       [160.0, 60.0, 'Male'],
       [172.0, 70.0, 'Male'],
       [178.0, 80.0, 'Male'],
       [5.7, 65.0, 'Male'],
       [157.0, 56.0, 'Female']], dtype=object)

In [24]:
y

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Samosa',
       'Pakora', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Pakora', 'Biryani', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Samosa', 'Biryani', 'Pakora', 'Pakora', 'Samosa',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Pakora', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Samosa', 'Biryani', 'Biryani',
       'Pakora', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Pakora', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa'], dtype=object)

In [25]:
df

     age   height  weight  gender likeness
0     27  170.688    76.0    Male  Biryani
1     41  165.000    70.0    Male  Biryani
2     29  171.000    80.0    Male  Biryani
3     27  173.000   102.0    Male  Biryani
4     29  164.000    67.0    Male  Biryani
..   ...      ...     ...     ...      ...
240   31  160.000    60.0    Male   Pakora
241   26  172.000    70.0    Male  Biryani
242   40  178.000    80.0    Male  Biryani
243   25    5.700    65.0    Male  Biryani
244   33  157.000    56.0  Female   Samosa

[245 rows x 5 columns]

In [26]:
df.shape

(245, 5)

## transform male in to integer (male to 1 and female to 0)

In [27]:
df['gender'] = df['gender'].replace('Male',1)
df['gender'] = df['gender'].replace('Female',0)

In [28]:
df.tail(),df.head()

(     age  height  weight  gender likeness
 240   31   160.0    60.0       1   Pakora
 241   26   172.0    70.0       1  Biryani
 242   40   178.0    80.0       1  Biryani
 243   25     5.7    65.0       1  Biryani
 244   33   157.0    56.0       0   Samosa,
    age   height  weight  gender likeness
 0   27  170.688    76.0       1  Biryani
 1   41  165.000    70.0       1  Biryani
 2   29  171.000    80.0       1  Biryani
 3   27  173.000   102.0       1  Biryani
 4   29  164.000    67.0       1  Biryani)

In [29]:
x = df[['weight','gender']]
y = df['likeness']

In [30]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

## Apply ML

In [31]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier().fit(x,y)

# prediction

model.predict([[23,0]])

C:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

## to cheak accuracy of the model

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

# create model

model = DecisionTreeClassifier()

## transform Likness in to integer ( to Pakora to 3 and baryani to 4)

In [33]:
df['likeness'] = df['likeness'].replace('Biryani','salad')
df['likeness'] = df['likeness'].replace('Pakora',4)

In [34]:
df.tail(),df.head()

(     age  height  weight  gender likeness
 240   31   160.0    60.0       1        4
 241   26   172.0    70.0       1    salad
 242   40   178.0    80.0       1    salad
 243   25     5.7    65.0       1    salad
 244   33   157.0    56.0       0   Samosa,
    age   height  weight  gender likeness
 0   27  170.688    76.0       1    salad
 1   41  165.000    70.0       1    salad
 2   29  171.000    80.0       1    salad
 3   27  173.000   102.0       1    salad
 4   29  164.000    67.0       1    salad)